.formulario
{
    margin-top: 30px;
    text-align: center;
    align-items:center;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.titulo
{
    margin-bottom:30px;
}

.mb-3
{
    margin: 35px;
}


.check
{
    margin: 1%;
}